# .NET
bin/
obj/
*.swp
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dotsettings
.idea/
LibraryManagementSystem/.vs/

# Packages
*.nupkg
*.snupkg

.env
LibraryManagementSystem/LibraryManagementSystem/appsettings.json