@model LibraryManagementSystem.Models.Book

@{
    ViewData["Title"] = "EditBook";
}


<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookId" />
            <input type="hidden" asp-for="IsPermanentlyUnavailable" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" required />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" required />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPublication" class="control-label"></label>
                <input asp-for="DateOfPublication" class="form-control" type="date" value="@Model.DateOfPublication?.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="DateOfPublication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label" ></label>
                <input asp-for="Price" class="form-control" data-val="false" required/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ManageBooks" asp-controller="Books">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
